.App {
  text-align: center;
}
.root{
  max-height: 100%;
}
.usetheme{
  /* visibility: hidden; */
  position: absolute;
  bottom: 50%;
  /* visibility: hidden; */
}
img{ 
  width: 80%;
  height: auto;
 
}
img:hover{
  opacity: 0.3;
}
/* #doc{
  height: 842px;
  width: 291mm;
} */